* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* using rem unit */
a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #374151;
  color: #fff;
}

header {
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #6b7280;
  margin-bottom: 1rem;
}

.header_title {
  background-image: linear-gradient(to left, #38daf0, #3ff58b);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

#new-task-form {
  display: flex;
}

input, button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  flex: 1 1 0%;
  background-color: #1f2937;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  color: #eee;
  font-size: 1.25rem;
}
#new-task-input::placeholder {
  color: #6b7280;
}

#new-task-submit {
  color: #ec4899;
  font-size: 1.25rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #ec4899, #8b5cf6);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

main {
  flex: 1 1 0%;
  padding: 1.5rem 0;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
main .task-list {
  padding: 1rem;
  font-weight: 300;
  color: #6b7280;
  margin-bottom: 1rem;
}
main .task-list #tasks .task {
  display: flex;
  justify-content: space-between;
  background-color: #111827;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
main .task-list #tasks .task-content {
  flex: 1 1 0%;
}
main .task-list #tasks .task-content .text {
  color: #eee;
  font-size: 1.25rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}
main .task-list #tasks .task-content .text:not(:read-only) {
  color: #30bbfc;
}
main .task-list #tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}
main .task-list #tasks .task .actions button {
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}
main .task-list #tasks .task .actions button:hover {
  opacity: 0.8;
}
main .task-list #tasks .task .actions button:active {
  opacity: 0.6;
}
main .task-list #tasks .task .edit {
  background-image: linear-gradient(to left, #38daf0, #3ff58b);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
main .task-list #tasks .task .delete {
  background-image: linear-gradient(to right, #3993fa, #d8f847);
  display: inline-block;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*# sourceMappingURL=style.css.map */
